ion-content {
    --background: url('../../../assets/images/12.png');
    --color: #fff;

    ion-button {
        --background: #ffffff;
        color: #6A1B9A;

        .ion-focused {
            --background: #ffce00;
        }
    }

    ion-item {
        --background: transparent;
        --color: #fff;
    }

    img {
        height: 35vh;
    }

    a {
        color: #fff;
    }
}