<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/contact" (click)="dismiss()"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm">
    <ion-grid>
      <ion-row color="tertiary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h1>{{'account.login.title' | translate}}</h1>
            <img src="../../assets/images/3.svg" />
          </div>
          <div padding>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input name="email" type="email" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input name="password" type="password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">
              {{'account.login.title' | translate}}</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>