.card-md,
.card-ios {
    width: 100%;
    margin: 0;
}

ion-card {
    padding: 0 !important;
    border-radius: 0px;
    margin: 0 !important;

    ion-card-header {
        padding-top: 0 !important;
    }

    ion-card-content {
        padding: 0 !important;

    }

}

// img {
//     max-height: 35vh;
// }