<ion-header translucent>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center">
      {{'home.title' | translate}}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="../assets/images/7.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>
        <ion-icon name="pin" color="tertiary"></ion-icon>Riyadh - Al-Nasseriyah
      </ion-card-subtitle>
      <ion-card-title>صالون مسك</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia soluta cum laborum sunt unde voluptate,
        praesentium placeat quibusdam tempora eos sint vitae doloribus maiores iure nemo. Magni et exercitationem
        inventore!</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>
        <ion-icon name="pin" color="tertiary"></ion-icon>Jeddah - Al-Nassem
      </ion-card-subtitle>
      <ion-card-title>صالون السعادة</ion-card-title>
    </ion-card-header>
    <img src="../assets/images/9.jpg" alt="" />
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia soluta cum laborum sunt unde voluptate,
        praesentium placeat quibusdam tempora eos sint vitae doloribus maiores iure nemo. Magni et exercitationem
        inventore!</p>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-item-divider color="tertiary">Featured</ion-item-divider>
  <br>
  <ion-slides pager="true" [options]="slideOpts" scrollbar="true" class="ion-text-start">
    <ion-slide>
      <ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-subtitle>
            <ion-icon name="pin" color="tertiary"></ion-icon>Jeddah - Al-Aziziyah
          </ion-card-subtitle>
          <ion-card-title>صالون افراح</ion-card-title>
        </ion-card-header>
        <img src="../assets/images/8.jpg" alt="" />
        <ion-card-content>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia soluta cum laborum sunt unde voluptate,
            praesentium placeat quibusdam tempora eos sint vitae doloribus maiores iure nemo. Magni et exercitationem
            inventore!</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="welcome-card">
        <img src="../assets/images/9.jpg" alt="" />
        <ion-card-header>
          <ion-card-subtitle>
            <ion-icon name="pin" color="tertiary"></ion-icon>Jeddah - Al-Nassem
          </ion-card-subtitle>
          <ion-card-title>صالون نجوى</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia soluta cum laborum sunt unde voluptate,
            praesentium placeat quibusdam tempora eos sint vitae doloribus maiores iure nemo. Magni et exercitationem
            inventore!</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-subtitle>
            <ion-icon name="pin" color="tertiary"></ion-icon>Riyadh - Olya
          </ion-card-subtitle>
          <ion-card-title>صالون للعرسان</ion-card-title>
        </ion-card-header>
        <img src="../assets/images/8.jpg" alt="" />
        <ion-card-content>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia soluta cum laborum sunt unde voluptate,
            praesentium placeat quibusdam tempora eos sint vitae doloribus maiores iure nemo. Magni et exercitationem
            inventore!</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <br>
  <ion-item-divider color="tertiary">Near By </ion-item-divider>
  <br>
  <ion-card class="welcome-card">
    <img src="../assets/images/7.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>
        <ion-icon name="pin" color="tertiary"></ion-icon>Riyadh - Malaz
      </ion-card-subtitle>
      <ion-card-title>صالون السعادة</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia soluta cum laborum sunt unde voluptate,
        praesentium placeat quibusdam tempora eos sint vitae doloribus maiores iure nemo. Magni et exercitationem
        inventore!</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card" (click)="showDetails()">
    <ion-card-header>
      <ion-card-subtitle>
        <ion-icon name="pin" color="tertiary"></ion-icon>Jeddah - Al-Nassem
      </ion-card-subtitle>
      <ion-card-title>صالون النسيم</ion-card-title>
    </ion-card-header>
    <img src="../assets/images/8.jpg" alt="" />
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia soluta cum laborum sunt unde voluptate,
        praesentium placeat quibusdam tempora eos sint vitae doloribus maiores iure nemo. Magni et exercitationem
        inventore!</p>
    </ion-card-content>
  </ion-card>

  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>