<ion-header translucent>
  <ion-toolbar>
    <ion-title style="text-align: center;">{{'welcome'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding scroll-y="false" class="svg">
  <ion-slides>

    <ion-slide>
      <img src="../../assets/images/10.png" />
      <h2>Welcome to the <b>{{'name'|translate}}</b></h2>
      <p>The <b>{{'name'|translate}}</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis
        magni officia dolore ab maxime, exercitationem expedita aliquid labore omnis amet..</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/2.svg" />
      <h2>What is {{'name'|translate}}?</h2>
      <p><b>{{'name'|translate}}</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis
        magni officia dolore ab maxime, exercitationem expedita aliquid labore omnis amet..</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/3.svg" />
      <h2>Why {{'name'|translate}}?</h2>
      <p><b>{{'name'|translate}}</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis
        magni officia dolore ab maxime, exercitationem expedita aliquid labore omnis amet..</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/1.svg" />
      <h2>Ready to explore?</h2>
      <p><b>{{'name'|translate}}</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis
        magni officia dolore ab maxime, exercitationem expedita aliquid labore omnis amet..</p>
      <ion-button fill="clear" [routerLink]="[('home.url' | translate)]">Continue <ion-icon slot="end"
          name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>